
<h1><center> <%=message%><br>
Please enter username and password</center></h1>

<center><form method = "post" action = "login">
Username <input type = "text" name = "username" required>
Password <input type = "password" name = "password" required>
	<input type = "submit" value = "enter">
</form></center>